<section class="main-content col-12 bg-white">

<div class="container py-5 ">
    
    <div class="row gx-5"> 

        <div class="col-6">
            
            <section class="job-experience">

                <div class="col-12 section">
                    <img class="item2" src="img/bag.jpg" alt="bag">
                    <h1 class="job-experience-title">JOB EXPERIENCE</h1>
                </div>

                <div class="col-12 section flex">

                    <div class="first-column">
                        <span>■</span>
                        <span>■</span>
                        <span>■</span>
                    </div>

                    <div class="second-column">
                        <div class="text-block1">

                            <h2 class="block-h1">WEB DESIGNER</h1>
                            <div class="line">
                                <div class="text-name">Compny Name</div>
                                <div class="text-date">2018-PRESENT</div>
                            </div>
                            <p class="text-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, set do eiusmod.</p>

                        </div>
                        <div class="text-block2">

                            <h2 class="block-h1">GRAPHIC DESIGNER</h1>
                            <div class="line">
                                <div class="text-name">Compny Name</div>
                                <div class="text-date">2015-2018</div>
                            </div>
                            <p class="text-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, set do eiusmod.</p>

                        </div>
                        <div class="text-block3">

                            <h2 class="block-h1">MARKETING MANAGER</h1>
                            <div class="line">
                                <div class="text-name">Compny Name</div>
                                <div class="text-date">2010-2015</div>
                            </div>
                            <p class="text-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, set do eiusmod.</p>

                        </div>
                    </div>

                </div>

            </section>

            <section class="skills">

                 <div class="col-12 section">
                    <img class="item2" src="img/people.jpg" alt="people">
                    <h1 class="skills-title">SKILLLS</h1>
                </div>

                <div class="col-12 section0">

                    <div class="skills-block">
                        <div class="skills-text-dot">
                            <span class="dot"></span>
                            <p class="skill-txt m-0">Microsoft Word</p>
                        </div>
                        <div class="skills-progress-bar">
                            <div></div>
                        </div>
                    </div>

                     <div class="skills-block">
                        <div class="skills-text-dot">
                            <span class="dot"></span>
                            <p class="skill-txt m-0">Adobe Illustrator</p>
                        </div>
                        <div class="skills-progress-bar">
                            <div></div>
                        </div>
                    </div>

                     <div class="skills-block">
                        <div class="skills-text-dot">
                            <span class="dot"></span>
                            <p class="skill-txt m-0">Microsoft Powerpoint</p>
                        </div>
                        <div class="skills-progress-bar">
                            <div></div>
                        </div>
                    </div>

                     <div class="skills-block">
                        <div class="skills-text-dot">
                            <span class="dot"></span>
                            <p class="skill-txt m-0">Adobe Photoshop</p>
                        </div>
                        <div class="skills-progress-bar">
                            <div></div>
                        </div>
                    </div>

                </div>

            </section>

        </div>


        <div class="col-6">
            
            <section class="references">

                <div class="col-12 section1">
                    <h1 class="references-text">REFERENCES</h1>
                </div>

                <div class="col-12">

                     <div class="refernces-text-dot">
                            <p class="references-txt m-0">MICHAEL R.MAGEE</p>
                             <span class="dot1"></span>
                        </div>

                        <p class="sub-text">4418 Bobcat Drive Southfield, MI 48034</p>

                </div>

                 <div class="col-12">

                     <div class="refernces-text-dot">
                            <p class="references-txt m-0">TRAVIS M.GODINEZ</p>
                             <span class="dot1"></span>
                        </div>

                        <p class="sub-text">2755 Oakmound Drive Chicago, IL 60605</p>

                </div>

            </section>


            <section class="education">

                <div class="col-12 sectionL">
                    <h1 class="job-experience-ll">EDUCATION</h1>
                    <img class="item1" src="img/hat.jpg" alt="bag">
                </div>

                <div class="col-12 sectionL">

                    

                    <div class="second-column">
                        <div class="text-block1 emm">

                            <h2 class="block-h2">MASTER OF CREATIVEARTS</h1>
                            <div class="line">
                                <div class="text-date mm">2018-PRESENT</div>
                                <div class="text-name">University Name</div>
                            </div>
                            <p class="text-lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, set do eiusmod.</p>

                        </div>
                        <div class="text-block2 emm">

                            <h2 class="block-h2 hhh">MASTER GRAPHIC & WEB DESIGNER</h1>
                            <div class="line">
                                <div class="text-date mm">2015-2017</div>
                                <div class="text-name">University Name</div>
                            </div>
                            <p class="text-lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, set do eiusmod.</p>

                        </div>
                        <div class="text-block3 emm">

                            <h2 class="block-h2 hhh">MASTER OF DESIGN</h1>
                            <div class="line">
                                <div class="text-date mm">2010-2012</div>
                                <div class="text-name">University Name</div>
                            </div>
                            <p class="text-lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, set do eiusmod.</p>

                        </div>
                    </div>

                    <div class="first-column2 lol m-0">
                        <span>■</span>
                        <span>■</span>
                        <span>■</span>
                    </div>

                </div>

            </section>


            <section class="hobbies">

                <div class="col-12">

                    <h2 class="hobbies-text">HOBBIES</h2>

                    <div class="points">

                        <div class="text-dot">
                            <p>TRAVELING</p>
                            <span>●</span>
                        </div>

                        <div class="text-dot">
                            <p>PLAYING FOOTBALL</p>
                            <span>●</span>
                        </div>

                    </div>

                    <div class="text-dot">
                            <p>READING BOOKS</p>
                            <span>●</span>
                        </div>

                </div>

            </section>

        </div>

    </div>

</div>

</section>