
@use '../scss/variables' as *;
@use '../scss/mixins' as *;

// Стилі для Body
.resume-body {
    padding: 50px;
    background: #fff;

    // Заголовки
    .section-header-red {
        @include section-title($primary-dark, $primary-red);
        h2.text-red { color: $primary-red; }
        svg { fill: $primary-dark; }
    }

    .section-header-grey {
        @include section-title($text-grey, $text-grey);
    }

    // Лівий таймлайн
    .timeline-list {
        position: relative;
        padding-left: 30px;
        border-left: 3px solid #e9ecef; 
        list-style: none;

        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 15px;

            &::before {
                @include timeline-dot;
                left: -39px; 
            }

            .timeline-head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                
                .job-title {
                    font-size: 1.1rem;
                    color: $primary-red;
                    font-weight: 800;
                    text-transform: uppercase;
                    margin: 0;
                }
                .job-date {
                    background: $primary-dark;
                    color: #fff;
                    padding: 2px 10px;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }
            .company-name {
                font-weight: 700;
                color: $primary-dark;
                margin-bottom: 5px;
            }
        }

        // Правий таймлайн (освіта)
        &.timeline-right {
            border-left: none;
            border-right: 3px solid #e9ecef;
            padding-left: 0;
            padding-right: 30px;
            text-align: right;

             li {
                padding-left: 0;
                padding-right: 15px;
                
                &::before {
                    left: auto;
                    right: -39px;
                }
             }
        }
    }

    // Скіли
    .section-skills {
        .skill-item {
            margin-bottom: 15px;
            .skill-dot {
                display: inline-block;
                width: 10px; height: 10px;
                background: $primary-dark;
                border-radius: 50%;
                margin-right: 10px;
            }
            .progress {
                height: 7px;
                background-color: #e9ecef;
                .progress-bar { background-color: $primary-red; }
            }
        }
    }
}