
@use '../scss/variables' as *;
@use '../scss/mixins' as *;


.main-content{
    background-image:url(dist/img/page.jpg);
}

.section{
    display: flex;
    align-items: center;
}
.line{
    display: flex;
}

.skills-text-dot{
    display: flex;
}

.skills-progress-bar{
    width: 150px;
    background-color: $text-light-grey;
    height: 6px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 40px;

    div{
        width: 100px;
        height: 5px;
        background-color: $primary-red;
        border-radius: 50px;
    }
}

.first-column{
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 450px;
    background-color: $primary-dark;
    border-radius: 50px;

    span{
        color: $bg-white;
    }
}


.refernces-text-dot{
    display: flex;
}


.points{
    display: flex;
}

.text-dot{
    display: flex;
}

.job-experience-title{
    @include my-title($primary-red);
    border-bottom: 3px solid #555;
    padding-right: 50px;
    padding-bottom: 10px;
}

.item2{
    width: 50px;
    margin-right: 30px;
}

.item1{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}


.block-h1{
        @include my-points(start);
        margin: 0;
    }


.flex{
    display: flex;
    align-items: flex-start;
}

.first-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-right: 30px;

    span{
        margin-bottom: 140px;
    }
}

.second-column{

    .text-block1{
        margin-top: 10px;
        margin-bottom: 55px;
    }

    .text-block3{
        margin-top: 55px;
    }

}

.text-lorem{
    width:300px;
    color: $text-grey;
    font-size: 16px;
    margin-top: 10px;
}

.text-name{
    font-weight: 600;
    font-size: 14px;
    color: $primary-dark;
}

.line{
    display: flex;
    justify-content: space-between;
}

.text-date{
    font-weight: 800;
    font-size: 12px;
    color: $primary-dark;
}

.skills{
    margin-top: 100px;
    margin-bottom: 70px;
}

.skills-title {
    @include my-title($primary-red);
}

.skills-block{
    margin-top: 40px;
}

.dot{
        width: 13px;
        height: 13px;
        border-radius: 50px;
        background-color: $primary-dark;
        margin-right: 30px;
    }


    .dot1{
        width: 13px;
        height: 13px;
        border-radius: 50px;
        background-color: $primary-dark;
        margin-left: 30px;
    }


.skills-text-dot{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $primary-dark;
}


.section0{
    margin-left: 20px;
}

.references-text{
    @include my-title($primary-dark);
    text-align: end;
    margin-right: 40px;
}

.section1{
    display: flex;
    justify-content: flex-end;

   
}

.references-txt{
    text-align: end;
    font-weight: 700;
    color: $primary-red;
}

.refernces-text-dot{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;
}

.sub-text{
    text-align: end;
    color: $text-grey;
    margin-right: 40px;
}

.job-experience-ll{
    @include my-title($primary-red);
    border-bottom: 3px solid #555;
    padding-left: 50px;
    padding-bottom: 10px;
}

.sectionL{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item1{
    width: 50px;
}

.block-h2{
     @include my-points(start);
        margin: 0;
        text-align: end;
}

.text-lorem2{
    width:300px;
    color: $text-grey;
    font-size: 16px;
    margin-top: 10px;
    text-align: end;
}

.emm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mm{
    margin-right: 110px;
}

.second-column{
    margin-right: 30px;
}

.education{
    margin-top: 120px;
}

.hobbies-text{
    @include my-title($primary-red);
    text-align: end;
}

.text-dot{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    p{
        margin-left: 20px;
        font-size: 15px;
        color: $text-grey;
    }

    span{
        margin-left: 10px;
        color: $primary-red;
    }
}

.points{
     display: flex;
    justify-content: flex-end;
}

.hobbies{
    margin-top: 60px;
}