@use '../scss/variables' as *;
@use '../scss/mixins' as *;


%dot-base {
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background-color: $primary-dark;
}


%timeline-bar {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 450px;
  background-color: $primary-dark;
  border-radius: 50px;
  align-items: center;
  padding-top: $base-unit; 

  span {
    color: $bg-white;
    margin-bottom: 140px;
  }
}


%date-style {
  font-weight: 800;
  font-size: 12px;
  color: $primary-dark;
}



.main-content {
  background-image: url(../img/page.jpg);
  background-size: cover;
}

.section {
  display: flex;
  align-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
}


.job-experience {
  
  .job-experience-title {
    @include my-title($primary-red);
    border-bottom: 3px solid #555;
    padding-right: $base-unit * 5; 
    padding-bottom: $base-unit; 
  }

  .item2 {
    width: 50px;
    margin-right: $base-unit * 3;
  }

  .flex {
    display: flex;
    align-items: flex-start;

    .first-column {
      @extend %timeline-bar;
      margin-right: $base-unit * 3; 
    }

    .second-column {
      .text-block1 {
        margin-top: $base-unit;
        margin-bottom: 55px;
      }
      .text-block3 {
        margin-top: 55px;
      }
      .block-h1 {
        @include my-points(start);
        margin: 0;
      }
      .text-name {
        font-weight: 600;
        font-size: 14px;
        color: $primary-dark;
      }
      
      
      .text-date {
        @extend %date-style;
      }
      
      .text-lorem {
        width: $base-unit * 30;
        color: $text-grey;
        font-size: 16px;
        margin-top: $base-unit;
      }
    }
  }
}


.skills {
  margin-top: 100px;
  margin-bottom: 70px;

  .skills-title {
    @include my-title($primary-red);
  }

  .section0 {
    margin-left: $base-unit * 2;

    .skills-block {
      margin-top: 40px;

      .skills-text-dot {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: $primary-dark;

        .dot {
          @extend %dot-base; 
          margin-right: $base-unit * 3; 
        }
      }

      .skills-progress-bar {
        width: 150px;
        background-color: $text-light-grey;
        height: 6px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        margin-top: $base-unit * 2;
        margin-left: 40px;

        div {
          width: 100px;
          height: 5px;
          background-color: $primary-red;
          border-radius: 50px;
        }
      }
    }
  }
}


.references {
  .section1 {
    display: flex;
    justify-content: flex-end;
  }

  .references-text {
    @include my-title($primary-dark);
    text-align: end;
    margin-right: 40px;
  }

  .refernces-text-dot {
    display: flex;
    justify-content: flex-end;
    margin-top: $base-unit * 2; 
    align-items: center;

    .references-txt {
      text-align: end;
      font-weight: 700;
      color: $primary-red;
    }

    .dot1 {
      @extend %dot-base;
      margin-left: $base-unit * 3; 
    }
  }

  .sub-text {
    text-align: end;
    color: $text-grey;
    margin-right: 40px;
  }
}


.education {
  margin-top: 120px;

  .sectionL {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .job-experience-ll {
      @include my-title($primary-red);
      border-bottom: 3px solid #555;
      padding-left: 50px;
      padding-bottom: $base-unit;
    }

    .item1 {
      width: 50px;
      height: 50px;
      margin-left: $base-unit * 3;
    }
    
    .first-column {
        @extend %timeline-bar; 
    }
  }

  .second-column {
    margin-right: $base-unit * 3; 

    .emm {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .block-h2 {
      @include my-points(start);
      margin: 0;
      text-align: end;
    }

    
    .text-date {
        @extend %date-style; 
    }

    .text-name {
        
        font-weight: 600;
        font-size: 14px;
        color: $primary-dark;
    }

    .mm {
      margin-right: 110px;
    }
    
    .text-lorem2 {
      width: 300px;
      color: $text-grey;
      font-size: 16px;
      margin-top: $base-unit;
      text-align: end;
    }
  }
}

.hobbies {
  margin-top: 100px;

  .hobbies-text {
    @include my-title($primary-red);
    text-align: end;
  }

  .points {
    display: flex;
    justify-content: flex-end;
    
    .text-dot {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      p {
        margin-left: $base-unit * 2; 
        font-size: 15px;
        color: $text-grey;
      }
      span {
        margin-left: $base-unit; 
        color: $primary-red;
      }
    }
  }

  > .col-12 > .text-dot {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      p {
        margin-left: $base-unit * 2;
        font-size: 15px;
        color: $text-grey;
      }
      span {
        margin-left: $base-unit;
        color: $primary-red;
      }
  }
}

.first-column2{
      display: flex;
      flex-direction: column;
      
      width: 25px;
      height: 450px;
      background-color: $primary-dark;
      border-radius: 50px;
      align-items: center;
      padding-top: $base-unit; 
      margin-right: $base-unit * 3;

      span {
        color: $bg-white;
        margin-bottom: 140px;
      }
}

.item2{
    width: 50px;
    margin-right: 20px;
}



.arrow-btn {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.8em; 
  transition: transform 0.3s ease; 
  color: #333; 

  &.active {
    transform: rotate(180deg);
    color: #dc3545;
  }
}

.toggle-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s; 
  &.hidden {
    opacity: 0; 
    visibility: hidden; 
  }
}