$c-red: #D71E35;
$c-dark: #373A3C;
$c-gray: #f8f9fa;
$c-white: #ffffff;
$c-line: #333333; 


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
    overflow-x: hidden;
}


.resume-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: $c-white;


}


.left-sidebar {
    width: 40%; 
    min-width: 40%;
    display: flex;
    flex-direction: column;
    
    

    .sidebar-red-part {
        height: 450px;
        background-color: $c-red;
        width: 100%;
        margin: 50px 0px 25px 0px;
    }

    .sidebar-dark-part {
        background-color: $c-dark;
        flex-grow: 1;
        padding: 30px 20px 50px 190px;
        color: white;
        display: flex;
        align-items: flex-end;

        .name { font-weight: 800; font-size: 3.5rem; line-height: 1; margin-bottom: 10px; }
        .role { letter-spacing: 2px; opacity: 0.8; margin: 0; }
    }
}


.right-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: $c-white;

}


.about-card-wrapper {
    
    background-color: $c-white;
    position: absolute;
    left: 190px;
    top: 130px;
    width: 80%;
    border: 15px solid $c-white;
    border-radius: 10px;

}

.about-card-inner {
    display: flex;
    align-items: stretch; 
    
    background: $c-white;
    
    }


    .about-photo {
      
        flex: 0 0 400px; 
        margin-right: 0; 
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            display: block;
        }
    }

    
    .about-separator {
        width: 3px; 
        background-color: $c-dark; 
        margin: 25px 30px 25px 30px; 
        flex-shrink: 0;
        
        
    }

    .name{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .icon{
        width: 50px;
        margin-right: 15px;
    }

    .about-me-text{
        color: $c-dark;
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 5px;
    }

    // 3. ТЕКСТ
    .about-text {
        margin-left: 15px;
        flex-grow: 1; 
        display: flex;
        justify-content: center; 
        border-top: 3px solid $c-red;
        border-bottom: 3px solid $c-red;
        border-right: 3px solid $c-red;
        padding-right: 30px;
       
        .header-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            
        }

        .description-wrap {
            color: #555;
            line-height: 1.5;
            font-size: 20px;
            text-align: justify;
        }
        
       
    }


.phone{
    width: 50px;
}


.contact-section {
    background-color: $c-gray;
    flex-grow: 1;
    padding: 0px 0px 30px 100px; 
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    @media (max-width: 991px) { padding: 40px; }
    
    .contact-list {
        display: flex;

        .col { display: flex; flex-direction: column; gap: 15px; }
        .item { display: flex; align-items: center; gap: 10px; color: #555; font-weight: 500;}
        .sq { font-size: 0.8rem; color: $c-dark; }
    }

    .header-group {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        margin-left: 150px;
        h2 { margin: 0 0 0 15px; font-weight: 800; font-size: 1.8rem; color: $c-dark; text-transform: uppercase; }
        .icon-dark { font-size: 2rem; color: $c-dark; }
    }
}