<div class="resume-wrapper">
    
    <div class="left-sidebar">
        <div class="sidebar-red-part"></div>
        
        <div class="sidebar-dark-part">
            <div class="name-container">
                <h1 class="name" id="personName"></h1>
                <p class="role">GRAPHIC & WEB DESIGNER</p>
            </div>
        </div>
    </div>

    <div class="right-content">
        
      <div class="about-card-wrapper">
    
    <div class="about-card-inner">
        
        <div class="about-photo">
            <img src="img/man.jpg" alt="Profile">
        </div>


        

        <div class="about-text">

             <div class="about-separator"></div> 

             <div class="name">
            <div class="header-wrap mb-3">
                <img class="icon" src="img/icon.jpg" alt="icon"> <h2 class="about-me-text">About Me</h2>
            </div>
            
            <div class="description-wrap">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ratione neque aut provident, amet, sed aperiam architecto possimus praesentium mollitia illum enim atque molestias officiis quam? Repellat veniam inventore ex dolorum at est quis in, blanditiis omnis id odit rerum impedit fuga provident exercitationem porro natus mollitia quod dignissimos culpa?</p>
                
            </div>
</div>

        </div>


    </div>
</div>

        <div class="contact-section">
            <div class="header-group">
                <img class="phone" src="img/phone.jpg" alt="">
                <h2>CONTACT ME</h2>
            </div>
            
            <div class="contact-list">
                <div class="col">
                    <div class="item"><span class="sq">■</span> <strong>+1-856-822-2156</strong></div>
                    <div class="item"><span class="sq">■</span> 1173 Valley Street <br> Camden, NJ 08102</div>
                </div>
                <div class="col">
                    <div class="item"><span class="sq">■</span> www.yourwebsite.com <br> yourinfo@email.com</div>
                </div>
            </div>
        </div>

    </div>
</div>

