@use 'variables' as *;

@mixin my-title($bg-color){
  font-weight: 900;
  font-family: 'Arial', sans-serif;
  color: $bg-color;
}

@mixin my-points($text-align){
  color: #D71E35;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  text-align: $text-align;
  font-size: 25px;
}