// Кольори
$primary-red: #D71E35;
$primary-dark: #373A3C;
$text-grey: #666666;
$text-light-grey: #999999;
$bg-light: #f8f9fa;
$bg-white: #fff;
$main-font: 'Arial', sans-serif;

// Змінна для математичних операцій (10px)
$base-unit: 10px;